html, body {
	font-family: 'Microsoft YaHei', 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif, Lucida, Verdana, serif;
	word-break: break-all;
}
body {
	background: rgba(203,209,194,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(203,209,194,1)), color-stop(100%, rgba(82,79,82,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	background: radial-gradient(ellipse at center, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbd1c2', endColorstr='#524f52', GradientType=1 );
	word-break: normal;
	word-wrap: break-word;
}
del {
	color: rgb(199, 199, 199);
}
.container.full-height {
	min-height: 100%;
}
blockquote {
	font-size: 13px;
}
nav ul {
	list-style-type: none;
	padding: 0;
}
.vertical-navigation {
	margin: 0 auto;
	position: fixed;
	top: 5px;
	z-index: 12;
}
.vertical-navigation .navigation-item {
	height: 40px;
	width: 50px;
	position: relative;
}
.vertical-navigation .navigation-icon {
	line-height: 30px;
	color: white;
	font-size: 20px;
	text-shadow: 3px 2px 2px rgb(70, 64, 64);
	line-height: 40px;
}
.vertical-navigation .navigation-item span:active {
	position: relative;
	left: 3px;
	text-shadow: none;
}

.navigation-icon {
	cursor: pointer;
}
.horizontal-navigation {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.horizontal-navigation .navigation-item {
	display: inline-block;
	width: 30px;
	position: relative;
}
.horizontal-navigation .navigation-icon {
	color: white;
	text-shadow: 3px 1px 2px rgba(71, 64, 64, 0.7);
}
.horizontal-navigation .navigation-icon:active {
	position: relative;
	left: 3px;
	text-shadow: none;
}
#globalAlert {
	position: fixed;
	top: 50%;
	left: 20%;
	width: 60%;
	font-size: 25px;
}
nav .published .navigation-icon {
	color: rgb(162, 250, 132);
}

nav .public .navigation-icon {
	color: rgb(250, 240, 116);
}
nav .popup {
	list-style: none;
	padding: 0;
	position: absolute;
	transition: opacity .3s;
	opacity: 0;
	display: none;
}
.vertical-navigation .popup {
	right: 0;
	top: 0;
	height: 40px;
	line-height: 40px;
	width: 120px;
}
nav .popup.fadeIn {
	opacity: 1;
}
.vertical-navigation .popup li {
	display: inline-block;
	padding: 0 5px;
	width: auto;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	cursor: pointer;
	margin-right: 3px;
}
.horizontal-navigation .popup {
	top: 23px;
	left: -1px;
}
.horizontal-navigation .popup li {
	display: block;
	color: white;
	width: 15px;
	text-align: center;
	border-radius: 3px;
	height: 24px;
	cursor: pointer;
}