html, body {
	font-family: 'Microsoft YaHei', 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif, Lucida, Verdana, serif;
	word-break: break-all;
}
body {
	background: rgba(203,209,194,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(203,209,194,1)), color-stop(100%, rgba(82,79,82,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	background: radial-gradient(ellipse at center, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbd1c2', endColorstr='#524f52', GradientType=1 );
}
.container.full-height {
	min-height: 100%;
}
blockquote {
	font-size: 13px;
}
.vertical-navigation {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	position: fixed;
	top: 5px;
}
.vertical-navigation li {
	height: 40px;
	width: 50px;
}
.vertical-navigation li span {
	line-height: 30px;
	color: white;
	font-size: 20px;
}
.navigation-item {
	cursor: pointer;
}