html, body {
	font-family: 'Microsoft YaHei', 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif, Lucida, Verdana, serif;
	word-break: break-all;
}
body {
	background: rgba(203,209,194,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(203,209,194,1)), color-stop(100%, rgba(82,79,82,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	background: radial-gradient(ellipse at center, rgba(203,209,194,1) 0%, rgba(82,79,82,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbd1c2', endColorstr='#524f52', GradientType=1 );
	word-break: normal;
	word-wrap: break-word;
}
del {
	color: rgb(199, 199, 199);
}
.container.full-height {
	min-height: 100%;
}
blockquote {
	font-size: 13px;
}
.vertical-navigation {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	position: fixed;
	top: 5px;
	z-index: 12;
}
.vertical-navigation > li {
	height: 40px;
	width: 50px;
	position: relative;
}
.vertical-navigation > li span {
	line-height: 30px;
	color: white;
	font-size: 20px;
	text-shadow: 3px 2px 2px rgb(70, 64, 64);
	line-height: 40px;
}
.vertical-navigation > li span:active {
	position: relative;
	left: 3px;
	text-shadow: none;
}

.navigation-item {
	cursor: pointer;
}
.horizontal-navigation {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.horizontal-navigation li {
	display: inline-block;
	width: 30px;
	position: relative;
}
.horizontal-navigation li span {
	color: white;
	text-shadow: 3px 1px 2px rgba(71, 64, 64, 0.7);
}
.horizontal-navigation li span:active {
	position: relative;
	left: 3px;
	text-shadow: none;
}
#globalAlert {
	position: fixed;
	top: 50%;
	left: 20%;
	width: 60%;
	font-size: 25px;
}
#updatePublicStatus.published span {
	color: rgb(162, 250, 132);
}

#updatePublicStatus.public span {
	color: rgb(250, 240, 116);
}
#navigation .popup {
	list-style: none;
	padding: 0;
	position: absolute;
	transition: opacity .3s;
	opacity: 0;
	display: none;
}
.vertical-navigation .popup {
	left: 33px;
	top: 0;
	height: 40px;
	line-height: 40px;
	width: 120px;
}
#navigation .popup.fadeIn {
	opacity: 1;
}
.vertical-navigation .popup li {
	display: inline-block;
	padding: 0 10px;
	width: auto;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	text-align: center;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	margin-right: 3px;
	background: linear-gradient(to bottom,#727476,#484646);
}
.vertical-navigation .popup li:hover {
	background: linear-gradient(to bottom, #2d2f32, #1a1a1a);
}
.horizontal-navigation .popup {
	top: 20px;
	left: 0;
}
.horizontal-navigation .popup li {
	display: block;
	background: blue;
	color: white;
	width: 60px;
	text-align: center;
	border-radius: 3px;
	margin-bottom: 2px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
	background: linear-gradient(to bottom, #7F55FA, #444AB2);
}
.horizontal-navigation .popup li:hover {
	background: linear-gradient(to bottom, #8e6af5, #6d47e7);
}