body {
	background: white;
	padding-top: 20px;
	overflow: hidden;
	font-size: 15px;
}
#title {
	width: 100%;
	border: 0;
	line-height: 40px;
	height: 40px;
	font-size: 27px;
	border-bottom: 1px solid silver;
	outline: none;
	margin: 0 0 10px 0;
	padding-bottom: 10px;
}
#content {
	width: 100%;
	outline: none;
	min-height: 520px;
	outline: none;
	border: 0;
	resize: none;
	z-index: 10;
}
#content.dragover {
	border: 5px dashed silver;
}
#left, #right {
	min-height: 100%;
}
#left {
	border-right: 1px dashed rgb(180, 114, 42);
	padding: 20px;
}
#statusBar {
	position: fixed;
	height: 20px;
	left: 0;
	right: 0;
	top: 0;
	color: white;
	background: rgb(41, 127, 238);
	z-index: 1000;
	padding-left: 20px;
}
#messageArea {
	padding-left: 20px;
}
#preview {
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}
#title_preview {
	font-size: 27px;
}