#headImage {
	width: 100%;
}
#titleArea {
	margin: 0;
	padding: 0;
	border: none;
}
#container {
	padding: 0;
}
.timeline {
	min-height: 78vh;
}
#flipSensor {
	position: absolute;
	width: 30%;
	height: 133px;
	left: 35%;
	z-index: 100;
}
#flipContainer {
	perspective: 600px;
	position: relative;
	z-index: 1;
}
#flipSensor:hover + #flipContainer #imageFlipper {
	transform: translateY(100%) rotateX(180deg);
}
#imageFlipper {
	transform-origin: top center;
	transition: transform 1s;
	transform-style: preserve-3d;
}
#imageFlipper > * {
	backface-visibility: hidden;
}
#imageFlipper .back {
	position: absolute;
	transform: rotateX(180deg);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: white;
	display: none;
}
@supports (backface-visibility: hidden) {
	#imageFlipper .back {
		display: block;
	}
}
#backContent  {
	font-size: 20px;
	padding: 20px 0 0 0;
	text-align: right;
}
#authorInfo {
	display: inline-block;
	text-align: left;
}

nav {
	z-index: 10;
}